<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Makan Ventures</title>
   
        <link rel="icon" type="image/x-icon" href="static/assets/crab.png" />
   
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
      
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
     
        <link href="/static/css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="#page-top"><img src="/static/assets/img/crab.png" alt="..." /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars ms-1"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('main_page') + '#services'}}">Local delights</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('main_page') + '#portfolio'}}">IClassification</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('main_page') + '#about'}}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('main_page') + '#team'}}">Team</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('main_page') + '#contact'}}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
	<header class="masthead">
	<div class="container">
	<div class="text-center">
             <h2 class="section-heading text-uppercase">Image Classification</h2>
        </div>
	<table align="center" style="border-radius: 50px; background-color: white; padding: 20px; width="400">
	<tr><td class="portfolio-caption-heading" align="center">
	<img src="/static/uploads/{{ filename }}" height="250" width="250" align="center"></td></tr>
	<tr><td class="section-heading text-uppercase" align="center" font-size="10rem"><h2><b>{{ predictions.class1 }}</b></h2></td>
	</tr>
	<tr><td>&nbsp;&nbsp;</td></tr>
        <tr><td class="portfolio-caption-subheading text-muted"> We predict the food to be {{ predictions.class1 }} with  {{ predictions.prob1 }}% confidence.</td></tr>
	<tr><td>&nbsp;&nbsp;</td></tr>
        <tr><td colspan="2" align="center"><a href="{{ url_for('main_page') + '#portfolio' }}"><button class="btn btn-primary btn-xl text-uppercase">Try again?</button></a></td></tr>
	<tr><td>&nbsp;&nbsp;</td></tr>
	</table>
	</div>
	</header>
<!-- Footer-->
        <footer class="footer py-4">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 text-lg-start">Copyright &copy; Makan Ventures 2022</div>
                    <div class="col-lg-4 my-3 my-lg-0">
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <div class="col-lg-4 text-lg-end">
                        <a class="link-dark text-decoration-none me-3" href="#!">Privacy Policy</a>
                        <a class="link-dark text-decoration-none" href="#!">Terms of Use</a>
                    </div>
                </div>
            </div>
        </footer>

<script>
  window.watsonAssistantChatOptions = {
      integrationID: "b62c7c70-4235-4a15-b729-00f5b4af66d4", // The ID of this integration.
      region: "eu-de", // The region your integration is hosted in.
      serviceInstanceID: "debb6380-d869-4d59-9145-54157b53aa0a", // The ID of your service instance.
      onLoad: function(instance) { instance.render(); }
    };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js"
    document.head.appendChild(t);
  });
</script>
</body>
</html>
